* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,body{ margin:0; padding:0; height:100%; width:100%;}

html {
    width: 100%;
    height: 100%;

    background: #11e8bb; /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(17,232,187,0.5) 0%, rgba(130,0,201,0.5) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(17,232,187,0.5) 0%, rgba(130,0,201,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(17,232,187,0.5) 0%, rgba(130,0,201,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11e8bb', endColorstr='#8200c9',GradientType=0 ); /* IE6-9 */
}


#full-size{

}
input {
    width: 450px;
    text-align: center;
}
p {
    text-align: center;
    white-space: pre;
}

h1, h2 {
    margin: 0;
}
div#wrapper {
    width: 600px;
    position:fixed;
    bottom:51%;
    left:50%;
    background : rgba(255,255,255,0.6);
    padding: 15px;
}

div#rsswrapper {
    width: 600px;
    position:fixed;
    top:51%;
    left:50%;
    background : rgba(255,255,255,0.6);
    padding: 15px;
    overflow-y:scroll;
    overflow-x:hidden;
}

#bigwrap {
    text-align: left;
    height: 100%;
}

#buttonwrapper {
    text-align: center;
}
#usercountwrapper {
    text-align: right;
    margin-bottom : 0;
}

#credits {
    margin-top : 0;
    text-align : right;
    font-style : italic;
}

#status {
    margin-top : 20px;
    margin-bottom: 10px;
}



h1 {
    font-family: "Droid Sans Mono";
    font-size: 28px;
    font-style: normal;
    font-variant: normal;
    font-weight: 800;
    line-height: 26.4px;
    margin-bottom: 5px;
}
h2 {
    font-family: "Droid Sans Mono";
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 800;
    line-height: 15.4px;
    margin-top : 10px;
}

h3 {
    font-family: "Droid Sans Mono";
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 15.4px;
}
p {
    font-family: "Droid Sans Mono";
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}
blockquote {
    font-family: "Droid Sans Mono";
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}
pre {
    font-family: "Droid Sans Mono";
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
}

#canvas {
    position:fixed;
}

ul {
    font-family: "Droid Sans Mono";
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
}
ul.left {
    list-style:circle inside;
    float: left;
    width: 78%;
    padding-left : 5px;
    white-space: nowrap;
}

ul.right {
    list-style-type: none;
    text-align:right;
    float: right;
    width: 20%;
    padding : 0;
    white-space: nowrap;
}

.style-4::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.style-4::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

.style-4::-webkit-scrollbar-thumb
{
    background-color: #000000;
    border: 2px solid #555555;
}